<%= content_for(:title,"#{@player.First_name}'s profile")%>
<h1>This is the show page for <%= @player.First_name%></h1>

<table>
	<thead>
		<tr>
			<td>First name</td>
			<td>Last name</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @player.First_name %></td>
			<td><%= @player.Last_name %></td>
		</tr>
	</tbody>
</table>

<%= link_to "Home Page", root_path %>